/* -----------------------------------------------------Правило-------------------------------- */
@media screen and (max-width:1199px) {
    .features-box-item{
        display: none;}
    .section-work{
        display: none;
    }
}

@media screen and (min-width: 1200px){
    .container{
        width: 1158px;
    }
    .section{
        padding-top: 120px;
        padding-bottom: 120px;
    }
.hero-title{
        margin-bottom: 48px;
}
.logo-header{
    margin-right: 76px;
}
.hero{
    max-width: 1440px;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)),url(../images/hero/people-office-decktop.jpg);
     padding-top: 192px;
     padding-bottom: 192px;
}
.contakt-nav{
    display: flex;
    align-items: center;
}
.current::after{
    bottom: -28px;
}
.contakt-nav{
    display: flex;
    align-items: center;
    gap:40px;
}
.contakt-nav-item:not(:last-child){
    margin-bottom:0;
}
/* -------------------------------------------- Секція Features--------------------------------- */
.features{
    display: flex;
    flex-wrap: nowrap;
}
.features-title, .person, .portfolio-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.text{
    font-weight: 400;
}
.features-menu{
    width:calc((100%-72px)/4);
}
.features-box-item{
    background-color: #F4F4FD;
    margin-bottom: 8px;
}
.features-icon {
    width: 64px;
    height: 64px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 100px;
}
/* ---------------------------------------------------Секція наші роботи--------------------------------- */
 .section-work{
    padding-top: 0;
}
.work{
    display: flex;
    gap: 24px;
    width: calc((100%-48px)/3);
}
.section-title{
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

/* ----------------------------------------------------Наша команда---------------------------------- */
/* .section-team{
    background-color:#F4F4FD; 
    margin: auto;
}
.team-menu{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 24px;
   
}
.team-item{ width:calc((100% - 72px)/ 4);}
.flex-team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding-left: 16px;
   padding-right: 16px;
   padding-top: 32px;
   padding-bottom: 32px;
}
.social-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}
.social-list-item {
    height: 40px;
    width: 40px;
}
.social-list-link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-background-color); 
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transitionn-dur-and-func);
}
.social-list-link:is(:hover,:focus){
    background-color: var(--active-buttons-background);
}
    
.social-list-icon {
    fill:#F4F4FD;
} */



/* ---------------------customer------------------------------- */
/* .customers{
    padding-top: 120px;
    padding-bottom: 120px;
}
.customers-menu {
    width:calc((100%-120px)/6);
}
.customers-list{
    flex-wrap: nowrap;

} */



