@media screen and (min-width: 480px){
    .container{
        width: 428px;
        margin-left: auto;
        margin-right: auto;
    }
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero/people-office-tablet.jpg);
}

}
@media screen and (max-width:767px) {
    .header-navigation-list{
        display: none;
    }
    .contakt-nav{
        display: none;
    } 
}
 @media screen and (max-width: 767px){
    .container.container-mini{
        width: 290px;
        outline: 1px solid red;
            } } 
