h1,h2, h3,h4,h5,h6,p{
    margin:0;
}
ul, ol{
    margin:0;
    padding: 0;
}
img{
    display: block;
   
}
*,::after,::before{
    box-sizing: border-box;
}
.container{
width: 1158px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}

:root{
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --primary-licht-color: #FFFFFF;
    --primary-background-color: #4D5AE5;
    --active-buttons-background: #404BBF;
    --main-line-height: 1.33;
    --transitionn-dur-and-func:250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body{
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.current{
    position: relative;
    color: var(--active-buttons-background);
}

.current::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--active-buttons-background);
    left:0;
    bottom: -28px;
}
/* -------------------------------------HEADER---------------------------------------------- */
.logo{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
} 
.web{
    color: #4D5AE5;
}
.top{
    line-height: var(--main-line-height);
}
.studio{
    color: var(--title-text-color);
}
.logo-header{
    margin-right: 76px;
}
.header{
    padding-top: 24px;
    padding-bottom: 24px;
}
.list{
    list-style: none; 
}
 .site-nav .link-activ {
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color var(--transitionn-dur-and-func);
    }
    .link-activ:is(:hover,:focus){
        color:var(--active-buttons-background);
    }

.contakt-phone, .contakt-mail {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contakt-mail {
    margin-left: 15px;
}
.contakt-phone{
margin-right: 40px;
}
.page-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-navigation{
    display: flex;
    align-items: center;
}
.header-navigation-list{
    display: flex;
    align-items: center;
}
.contakt-nav{
    display: flex;
    align-items: center;
}
.item:not(:last-child){
    margin-right: 40px;
}

/* ------------------------------------------------------HERO------------------------------------------------------ */
.hero-title{
    max-width: 496px;
    color: var(--primary-licht-color);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    margin: auto;
    margin-bottom: 48px;
    }
.hero{
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/people-office.jpg);
    background-size: cover;
    max-width: 1440px;
    padding-top: 192px;
    padding-bottom: 192px;
   margin: auto;
}
.section-title{
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.button-main{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--primary-background-color);
    color: var(--primary-licht-color);
    cursor: pointer;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 170px;
    padding: 16px 32px;
    display: block;
    margin:auto;
    transition: background-color var(--transitionn-dur-and-func);
}
.button-main:hover,
.button-main:focus {
      background-color: var(--active-buttons-background);
}
.features-title, .person, .portfolio-item{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.visual-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* ------------------------------------------------------features--------------------------------- */
.features{
    display: flex;
}
.features-menu{
    width:calc((100%-72px)/4);
}
.features-menu:not(:last-child){
    margin-right: 24px;
}
.text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.features-box-item{
    background-color: #F4F4FD;
    margin-bottom: 8px;
}
.features-icon {
    width: 64px;
    height: 64px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 100px;
}

/* -----------------------------------------------------Наша робота------------------------------- */
.section-work{
    padding-top: 0;
}
.work{
    display: flex;
    gap: 24px;
    width: calc((100%-48px)/3);
}
/* ----------------------------------------------------Наша команда---------------------------------- */
.section-team{
    background-color:#F4F4FD; 
    margin: auto;
}
.team-menu{
    display: flex;
    gap: 24px;
    width:calc((100%-72px)/4);
}
.team-item{
background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;

}
.flex-team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding-left: 16px;
   padding-right: 16px;
   padding-top: 32px;
   padding-bottom: 32px;
}
.social-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}
.social-list-item {
    height: 40px;
    width: 40px;
  
}
.social-list-link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-background-color); 
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transitionn-dur-and-func);
}
.social-list-link:is(:hover,:focus){
    background-color: var(--active-buttons-background);
}
    
.social-list-icon {
    fill:#F4F4FD;
}
/* ---------------------customer------------------------------- */
.customers{
    padding-top: 105px;
    padding-bottom: 120px;
}
.customers-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.customers-list{
    display: flex;
    gap: 24px;
    margin-top: 72px;
}
.customers-menu {
    width:calc((100%-120px)/6);
}
.customers-link{
    display: block;
    color: #8E8F99;
    width: 168px;
    height: 88px;
    padding: 16px 32px;
    border: 1px solid #8E8F99;
    border-radius: 4px;  
    width: 100%;
    height: 100%;
    transition: border-color var(--transitionn-dur-and-func), color var(--transitionn-dur-and-func);
}
.customers-icon {
    fill: currentColor;
    }
.customers-link:is(:hover,:focus){
    border-color:var(--active-buttons-background);
    color: var(--active-buttons-background);
}
/* .customers-link:is(:hover,:focus) .customers-icon {
    fill:var(--active-buttons-background) */
/* } */
/* -----------------------------------Footter--------------------------------------------------- */
.footer {
    background-color: #2E2F42;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.down{
line-height: 1.16;
}
.licht{
    color: #F4F4FD;
    line-height: 1.16;
}
.footers {
color: #E7E9FC;
margin-top: 16px;
max-width: 264px;
}
.footer-container{
    display: flex;
    align-items: baseline;
}
.footer-social{
    margin-left: 120px;
}
.footer-social-content{
font-weight: 600;
font-size: 16px;
line-height:1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.footer-social-menu {
    display: flex;
    gap:16px;
    margin-top:16px;
}
.footer-social-link {
    width: 100%;
    height:100%;
    background: rgba(255, 255, 255, 0.1);
    border:50%;
    display:flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transition: backgraund-color var(--transitionn-dur-and-func);
}
.footer-icon {
    fill:currentColor;
}
.footer-social-link:is(:hover,:focus){
    background-color: #31D0AA;
}
.footer-subscribe{
    margin-left: 80px;
}
.subscribe-form{
    margin-top: 16px;
    
}
.subscribe-title{
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.subscribe-form-menu{
    display: flex;
    gap: 24px; 
} 
.subscribe-input{
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    color: #cccce4;
}
.subscribe-input:focus {
    border-color:var(--active-buttons-background);
    outline: none;
  }
.subscribe-button{
min-width: 168px;
height: 40px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.06em;
background-color: var(--primary-background-color);
border-radius: 4px;
color: #FFFFFF;
border-color: transparent;
padding-top: 8px 24px;
display: flex;
justify-content: center;
align-items: center;
gap:16px;
transition: background-color var(--transitionn-dur-and-func);
}
.subscribe-icon{
    fill:#FFFFFF;
}
.subscribe-button:hover,
.subscribe-button:focus {
      background-color: var(--active-buttons-background);}


/* ---------------------------------------PORTFOLIO------------------------------------------------ */
.header-portfolio{
    background: #FFFFFF;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px
 rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
margin: auto;
}
.portfolio-section{
    padding-top: 96px;
    padding-bottom: 120px;
}
.buttons-list{
    display: flex;
    align-items: center;
    margin-bottom: 72px;
    justify-content: center;
}
.buttons-menu:not(:last-child){
    margin-right: 24px;
}
.buttons-portfolio{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background-color: #F4F4FD;;
    color:var(--primary-background-color);
    border-color: transparent;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    transition: background-color var(--transitionn-dur-and-func), color var(--transitionn-dur-and-func),box-shadow var(--transitionn-dur-and-func);
}
.buttons-portfolio:hover,
.buttons-portfolio:focus {
      background-color: var(--active-buttons-background);
      color: var(--primary-licht-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.images-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.employees-list{
flex-basis:calc((100% - 48px)/3);
background: #ffffff;
border-bottom: 0.5px solid #F4F4FD;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
transition: box-shadow var(--transitionn-dur-and-func);
}
.employees-list:is(:hover,:focus){
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.flex-element{
justify-content: center;
align-items: flex-start;
padding-top: 32px;
padding-bottom: 32px;
gap: 8px;
padding-left: 16px;
}
.mention{
    text-decoration: none;
   
}
.list-img-wrapper{
    position: relative;
    overflow: hidden;
}
.overlay{
    position: absolute;
    background-color: var(--primary-background-color);
    color: #F4F4FD;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow:auto;
    transform: translate(0, 100%);
    transition: transform var(--transitionn-dur-and-func);
}

.mention:hover .overlay,
.mention:focus .overlay{
     transform: translate(0, 0);
}
/* ---------------------MODAL WINDOW---------------- */
.backdrop{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transitionn-dur-and-func), visibility var(--transitionn-dur-and-func);
}
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal{
position: absolute;
top: 50%;
left: 50%;
width: 408px;
min-height: 579px;
background: #FCFCFC;
transform: translate(-50%,-50%) scaleY(1);
padding-top: 72px;
background: #FCFCFC;
border-radius: 4px;
padding-left: 24px;
padding-right: 24px;
padding-bottom: 24px;
}
.backdrop.backdrop.is-hidden .modal{
    transform: translate(-50%,-50%) scaleY(0);
    transition: var(--transitionn-dur-and-func);
}
.close-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: background-color var(--transitionn-dur-and-func);
}
.close-icon{
    transition: fill var(--transitionn-dur-and-func);
}
.close-btn:is(:hover,:focus){
    background-color: var(--active-buttons-background);
    fill: #ffffff;
}

.modal-form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}
.modal-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
text-align: center;
}

.form-chek{
    margin-top: 16px;
    margin-bottom: 24px;
}
.modal-label{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: #8E8F99;
}
.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    color:#2E2F42;
    padding-left: 40px;
    transition: border-color var(--transitionn-dur-and-func);
}
   .modal-input:focus {
    border-color:var(--active-buttons-background);
    outline: none;
  }
   .modal-comment:focus{
      border-color:var(--active-buttons-background);
      outline: none;
    }
    
.modal-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    min-width: 170px;
    padding: 16px 32px;
    background: var(--primary-background-color);
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
    display: block;
    margin:auto;
    transition: background-color var(--transitionn-dur-and-func);
}
.modal-btn:is(:hover,:focus){
    background-color: var(--active-buttons-background);
}
.modal-comment{
    width: 360px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 8px 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    resize: none;
    transition: border-color var(--transitionn-dur-and-func);
    margin-top: 4px;
}
.modal-input::placeholder,
.modal-comment::placeholder {
    color:rgba(117, 117, 117, 0.5);
    font-size: 12px;}

.modal-input:not(:focus):not(:placeholder-shown):valid {
  background-color: rgba(78, 160, 77, 0.205);
}
.modal-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(252, 197, 80, 0.281);
}
.input-wrap{
    position: relative;
    margin-top: 4px; 
    margin-bottom:8px;
}
.modal-input-icon{
position: absolute;
top:50%;
left: 16px;
transform: translateY(-50%);
transition: fill var(--transitionn-dur-and-func);
}
.modal-input:focus + .modal-input-icon {
    fill: var(--active-buttons-background);
  }
.check-text{
font-weight: 400;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
color: #757575;
display: flex;
margin-right: 8px;
  }
.policy-activ{
    color: var(--primary-background-color);

  }
.check-text::before{
content:"";
width: 16px;
height: 16px;
border: 1.25px solid #2E2F42;
border-radius: 2px;
display: block;
margin-right: 8px;
  }
  
  .modal-check:checked+ .check-text::before{
    background-color: var(--active-buttons-background);
    border: none;
    background-image: url(../images/svg/Vector.svg); ;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color var(--transitionn-dur-and-func);
  }
  .modal-check:focus+ .check-text::before{
  outline:2px solid var(--active-buttons-background);
  border: none;
}