@media screen and (min-width: 768px){
    .container{
        width: 768px;
        outline: 1px solid red;
    }
}
@media screen and (min-width:768px){
    .mobile-menu-open{
        display: none;
    }
.logo-header{
        margin-right: 122px;
    }
.current{
        position: relative;
        color: var(--active-buttons-background);
    }
.current::after{
        content:"";
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--active-buttons-background);
        left:0;
        bottom: -35px;
    }
.hero-title{
        max-width: 498px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 40px;
}
.hero{
    max-width: 768px;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)),url(../images/hero/people-office-tablet.jpg);
     padding-top: 108px;
     padding-bottom: 116px;
}

.header-navigation-list .link-activ {
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color var(--transitionn-dur-and-func);
    }
    .link-activ:is(:hover,:focus){
        color:var(--active-buttons-background);
    }
    .page-header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-navigation{
        display: flex;
        align-items: center;
    }
    .header-navigation-list{
        display: flex;
        align-items: center;
    }
    .item:not(:last-child){
        margin-right: 40px;
    }
  
    .contakt-phone, .contakt-mail {
        text-decoration: none;
        color: var(--primary-text-color);
        font-weight: 400;
        font-size: 12px;
        line-height: 1-33;
        letter-spacing: 0.04em;
    }
    .contakt-nav-item:not(:last-child){
        margin-bottom: 4px;
    }
    .features-menu{
        width:calc((100%-24px)/2);
    }
    
    .features{
        column-gap: 24px;
        row-gap: 72px;}
   
.features-title, .person, .portfolio-item{
            text-align:start;} 
    /* --------------------------------------------Модальне вікно------------------------------------ */
    .modal{
        width: 408px;
        min-height: 576px;
    }

    }

    