@media screen and (min-width: 768px) and (max-width:1199px) {
    .container{
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}
 @media screen and  (min-width: 768px) and (max-width: 1199px){
    .container.container-mini{
        width: 582px;
        margin-left: auto;
        margin-right: auto;
    }  
 }
@media screen and (min-width:768px){
    .mobile-menu-open{
        display: none;
    }
    /* -------------------------------------------------------Header------------------------------------------------- */
.logo-header{
        margin-right: 122px;
    }
.current{
        position: relative;
        color: var(--active-buttons-background);
    }
.current::after{
        content:"";
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--active-buttons-background);
        left:0;
        bottom: -35px;
    }
.hero-title{
        max-width: 498px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 40px;
}
.hero{
    max-width: 768px;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)),url(../images/hero/people-office-decktop.jpg);
     padding-top: 108px;
     padding-bottom: 116px;
}

.header-navigation-list .link-activ {
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color var(--transitionn-dur-and-func);
    }
    .link-activ:is(:hover,:focus){
        color:var(--active-buttons-background);
    }
    .page-header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-navigation{
        display: flex;
        align-items: center;
    }
    .header-navigation-list{
        display: flex;
        align-items: center;
    }
    .item:not(:last-child){
        margin-right: 40px;
    }
  
    .contakt-phone, .contakt-mail {
        text-decoration: none;
        color: var(--primary-text-color);
        font-weight: 400;
        font-size: 12px;
        line-height: 1-33;
        letter-spacing: 0.04em;
    }
    .contakt-nav-item:not(:last-child){
        margin-bottom: 4px;
    }
    /* ----------------------------------------Секція Features------------------------------ */
    .features-menu{
        width:calc((100% - 24px)/ 2);
    }
   
    .features{
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;}
   
.features-title, .person, .portfolio-item{
            text-align:start;} 

/* -----------------------------------------Наша команда------------------------------------- */

.team-menu{
    display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 56px;
}
.team-item{ width:calc((100% - 24px)/ 2); 
}
/* -----------------------------------------------------customer------------------------------- */ 
.customers-menu {
    width:calc((100% - 48px)/ 3);
}
.customers-list{
    display: flex;
    flex-wrap: wrap;
   column-gap: 24px;
}


/* -----------------------------------Footter--------------------------------------------------- */

.footers-text {
    max-width: 264px;
    }
    .footer-container{
        display: flex;
        align-items: baseline;
        text-align: start;
    }
 .footer-social{
    margin-left: 24px;
    }
    .footer-container{
        display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       row-gap: 72px;
       justify-content: center;
       align-items: center;
    }

    .subscribe-form{
        margin-top: 16px;
    }
     .subscribe-form-menu{
        display: flex;
        gap: 24px; 
    } 
    .subscribe-input{
        width: 264px;
        
    }
/* --------------------------------------------Модальне вікно------------------------------------ */
    /* .modal{
        width: 408px;
        min-height: 576px;
    } */
    
    }

